@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-style: normal;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  padding: 148px 24px 85px 40px;
}
.main {
  width: 100%;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px 48px 24px;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1e1f36;
  margin-top: 28px;
  margin-bottom: 40px;
}
.grid {
  width: 100%;
}

.grid-item {
  width: 100%;

  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #e8e8ea;
}
.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 18px;
  margin-top: 18px;
}
p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  margin-top: -5px;
  margin-bottom: 16px;
}

.hidden,
.desktop,
.box {
  display: none;
}

.text-button {
  border: none;
  background-color: white;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
  cursor: pointer;
}
button {
  border: none;
  cursor: pointer;
  background-color: white;
}
.pattern {
  top: 0px;
}
.ilustration {
  position: absolute;
  width: 236px;
  height: 140px;
  top: 90px;
}

button:hover {
  color: #f47b56;
}

@media screen and (min-width: 1400px) {
  body {
    padding: 130px 240px 130px 280px;
  }

  .pattern,
  .ilustration {
    display: none;
  }

  .main {
    padding: 65px 95px 83px 475px;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: 900px 900px;
    background-repeat: no-repeat;
    background-position: top -270px left -500px;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 45px;
  }

  button {
    font-size: 14px;
    line-height: 17px;
  }

  .desktop {
    display: block;
    position: absolute;
    transform: translate(-560px, 0px);
  }
  section {
    width: 100%;
  }
  .box {
    display: block;
    position: absolute;
    top: 335px;
    left: 190px;
  }
}
